<div class="container">
    <img [src]="food.imageUrl" [alt]="food.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
        </div>
        <div class="cook-time">
            <span>
                Il tempo di cottura è di <strong>{{food.cookTime}}</strong> minuti
            </span>
        </div>

        <div class="price">
            <span>{{food.price|currency:'€'}}</span>
        </div>

        <button >Metti nel carrello</button>
    </div>

</div>